@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

body{margin:0;
padding:0;
box-sizing:border-box;
width:100;
font-family:'poppins',sans-serif;
}
section{
	min-height:100vh;
	display:flex;
	justify-content:center;
}
	

/*----navbar----*/
#navbar{position:sticky;
top:0;
background-color:#adff2f;
z-index:10;}
.bold{
	font-size:25px;
}
li{padding:5px;}

.nav-link{
	font-size:15px;
	font-weight:bold;
	border:2px solid transparent;
}

.nav-link:hover{
	border-bottom:2px solid blue;
    transition:0.1s;
	
}
/*---home---*/
span{
	color:red;
	font-weight:bold;
	
}
p{font-size:18px;
}

/*---about---*/
#about img{
	width:30rem;
	height:25rem;
	
}
/*services*/
.card img{transition:1s;}

.inner{
	overflow:hidden;
}
.card img:hover{
	transform: scale(1.5);
	transition:1s;
}
/*--contact--*/
form{padding:40px;
box-shadow:2px 2px 5px rgba(0,0,0,0.2),-1px -1px 5px rgba(0,0,0,0.05);
border-radius:30px;
}

